<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         verbose="true">
    <testsuite name="SWIS Text Snippet">
        <directory suffix="Test.php">./tests</directory>
        <exclude>./tests/_files</exclude>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>